body {
    font-family: 'Roboto', 'Playfair Display', sans-serif;
    background: white !important;
    position: relative;
    font-weight: 100;
}

.back-btn-section-row {
    margin: 25px 0px;
}

.back-btn-section-row img {
    height: 26px;
}

.how-jama-works-content {
    padding: 45px 0px;
}

.jars-section-title-heading {
    margin-bottom: 60px;
}

.about-philosophy-left-content {
    padding-top: 30px;
}

.about-philosophy-left-content h5 {
    font-family: Playfair Display;
    font-weight: bold;
    line-height: 32px;
    color: #1D294A;
}

.about-philosophy-left-content h5::after {
    content: "";
    display: block;
    width: 10%;
    padding-top: 10px;
    border-bottom: 2px solid #000;
}

.about-philosophy-left-content p {
    color: rgb(102, 102, 102);
}

.Aboutus-img-right img {
    max-height: 260px;
    margin-top: 25px;
}