body {
    font-family: 'Roboto', 'Playfair Display', sans-serif;
    background-image: url("../assets/bg_block_vector.svg");
    position: relative;
    font-weight: 100;
}
a{
    color: #000 !important;
}
nav ul a,
nav .brand-logo {
    color: #444;
}
.custom-width-header{
    width: 90%;
    margin: auto;
}
.p-t-20percent{
    padding-top: 20% !important;
}

.m-t-20 {
    margin-top: 20px;
}

.no-padding {
    padding: 0px;
}

p {
    font-size: 14px;
    line-height: 20px;
}

.m-r-4 {
    margin-right: 4px;
}
.w-percent-90{
    width: 90% !important;
}
.m-auto{
    margin: auto;
}

.bg-white {
    background: #fff;
}

h6 {
    margin: 0px;
}

.m-0 {
    margin: 0px !important;
}

.m-b-0 {
    margin-bottom: 0px;
}

.b-t-1 {
    border-top: 1px solid rgb(233, 233, 233);
}

.b-rad-t {
    border-radius: 10px 10px 0px 0px;
}

.b-left {
    border-radius: 10px 0px 0px 10px;
}

.b-right {
    border-radius: 0px 10px 10px 0px;
}

.b-rad-b {
    border-radius: 0px 0px 10px 10px;
}

.m-t-20 {
    margin-top: 20px;
}

nav ul a {
    display: inline !important;
}
.header-bg-shadow{
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1) !important;
    position: fixed;
    z-index: 999;
    top: 0;
}
nav ul a:hover{
    color: #1c64c4 !important;
    background: transparent !important;
    font-size: bold;
}
/* nav ul a:after {
    content: "";
    display: block;
    width: 30%;
    padding-top: 1px;
    border-bottom: 2px solid #1553A5;
    top: -17px;
    position: relative;
} */


.sidenav-trigger {
    color: #26a69a;
}

.start-btn {
    padding: 8px 15px !important;
    border: 1px solid #FFC20E;
    border-radius: 4px;
}


.brand-logo-img {
    max-height: 36px;
    position: relative;
    top: 10px;
}

.read-more-btn-style {
    background: #FFC20E;
    color: #000;
    padding: 16px 32px;
    border: none;
    border-radius: 2px;
    font-family: Playfair Display;
    cursor: pointer;
    font-size: 16px;
}

.Home-section-banner-img {
    background-image: url("../assets/jama_wealth_banners_3.png");
    /* position: relative; */
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    border-radius: 0px 0px 30px 30px;
    bottom: 78px;
    z-index: -1;
    padding: 66px 0px;
}
.home-tabed-section{
    padding: 100px 0px;
    width: 90% !important; 
}

.Home-jama-wealth-section {
    padding: 90px 0px;
}

.Jama-tab-card-btn {
    padding: 18px 42px;
    font-family: Playfair Display;
    font-weight: 600;
    /* background: #fff; */
    min-height: 100px;
}

.Jama-tab-card-btn img {
    top: 16px;
    float: left;
    height: 35px;
    position: relative;
}

.tab-card-margin-style {
    margin-top: 10px;
}

.Jama-tab-card-btn h6 {
    margin-left: 58px;
    font-size: 20px;
}

.money-bar-img-style {
    height: 25px !important;
    vertical-align: middle;
    position: relative;
    top: 15px
}

.left-menu-sub-tabs-below-wealth {
    background: rgba(255, 255, 255, 0.9);
    padding: 24px 42px;
}

.Build-wealth-tab-btn {
    background: #1553A5;
    color: #fff;
    margin-bottom: 28px;
    border-radius: 10px;
}
.not-active-wealth-btn{
    background: #fff;
    color: #000;
}

.left-menu-sub-active{
    background: #1553A5;
    color: #fff;
}

.Build-wealth-tab-btn .under-line-style:after {
    content: "";
    display: block;
    width: 30%;
    padding-top: 10px;
    border-bottom: 2px solid #fff;
}

.home-right-content-section {
    margin-left: 6px;
}



.jama-right-tabs h6 {
    margin: 0px;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
}

.jama-right-tabs-active {
    background: #FFC20E;
}

.jama-right-tabs-active h6 {
    font-weight: 600;
}

.jama-right-tabs-active h6::after {
    content: "";
    display: block;
    width: 30%;
    padding-top: 10px;
    margin: 0 auto;
    border-bottom: 2px solid #000;
}

.Jama-home-tab-content-box {
    background: rgba(255, 255, 255, 0.9);
    min-height: 340px;
    border-radius: 4px;
    padding: 25px 15px;
    margin-top: 26px;
}

.Jama-home-tab-content-box p {
    font-size: 16px;
    line-height: 26px;
    color: rgb(80, 80, 80);
    display: block;
}
.tab-content-img{
    padding: 25px;
}

.read-more-style {
    text-decoration: #444;
    font-weight: 600;
    color: rgb(10, 10, 10);
    cursor: pointer;
}

.jars-section-title-heading h3 {
    font-family: Playfair Display;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.jars-section-title-heading h3::after {
    content: "";
    display: block;
    width: 5%;
    padding-top: 20px;
    margin: 0 auto;
    border-bottom: 2px solid #000;
}

.Jars-section-left {
    padding-top: 14%;
    padding-bottom: 12px;
}

.Jars-section-left h4 {
    font-family: Playfair Display;
    font-weight: bold;
    line-height: 44px;
    margin: 25px 0px;
}

.Jars-section-left p {
    color: rgb(126, 126, 126);
    font-weight: lighter;
    font-size: 16px;
    line-height: 25px;
}

.jars-btns {
    margin-top: 36px;
    position: relative;
}

.jars-btns li {
    list-style: none;
    display: inline;
    margin-right: 20px;
    font-weight: lighter;
    padding: 14px 28px;
    cursor: pointer;
}

.btn-orange {
    background: #FFC20E;
    color: #fff;
}

.btn-outline {
    border: 1px solid #FFC20E;
}

.video-section {
    padding-bottom: 60px;
    position: relative;    
}
.video-section-bg img{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    left: 0px;
}

.video-container {
    border-radius: 10px;
}

.jars-btns .no-obigation-style {
    font-style: italic;
    padding: 0px;
}

.jars-section-portfolio {
    padding: 60px 0px;
}

.portfolio-img-section img {
    max-height: 400px;
    float: right;
    margin-top: 16px;
    width: 100%;
}

.jama-ebook-section {
    background-image: url("../assets/ebook-bg.jpg");
    padding: 30px 0px;
    background-size: cover;
}

.ebook-section-left h5 {
    font-family: Playfair Display;
    font-weight: bold;
}
.ebook-section-left h4 {
    font-family: Playfair Display;
    font-weight: bold;
}

.btn-download-ebook {
    padding: 0px 67px !important;
    background: #FFC20E !important;
    border-radius: 4px !important;
    margin-top: 20px;
    float: right;
    min-height: 60px !important;
    line-height: 65px !important;
    color: #fff !important;
    text-transform: none !important;
    font-size: 18px !important;
}

.btn-download-ebook:hover {
    background: #FFC20E;
}

.jama-ebook-section {
    margin-bottom: 90px;
    margin-top: 20px;
}

.jama-testimonials-section {
    background: #1553A5 !important;
}

.testimonials-title-style {
    margin-bottom: 20px !important;
    margin-top: 0px !important;
    color: #fff;
}

.testimonials-title-style::after {
    border-bottom: 2px solid #fff !important;
}

.jama-testimonials-cards {
    background: #fff;
    min-height: 250px;
    border-radius: 4px;
    padding: 16px;
    position: relative;
    margin-top: 25px;
}

.testimonial-text {
    font-family: Playfair Display;
    color: #000;
    position: relative;
    top: -6px;
}

.testimonial-text p {
    font-weight: 100;
}
.testimonial-section-profile-details{
    padding: 0px 15px;
}
.profile-pic {
    height: 80px !important;
    margin-right: 10px;
}

.testimonial-text h6 {
    margin-bottom: 5px;
    color: #1553A5;
    font-size: 22px;
}

.testimonial-text p {
    color: rgb(155, 155, 155);
}

.testimonial-description h6 {
    font-family: Roboto;
    font-weight: bolder;
}

.testimonial-description p {
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
}

.testimonial-more-vert-btn {
    position: absolute;
    top: 5px;
    right: 0;
}

.jama-testimonials-section {
    padding: 50px 0px;
}

.See-more-btn {
    text-align: center;
    margin-top: 30px;
}

.testimonial-see-more-btn {
    background: #fff !important;
    color: #0c0c0c !important;
    padding: 25px 42px !important;
    line-height: 1px !important;
    text-transform: none !important;
    font-family: Playfair Display;
    font-size: 18px !important;
    
}

.testimonial-see-more-btn:hover {
    background: #fff;
}

.research-invest-section {
    padding: 70px 0px;
}

.research-invest-section-content {
    text-align: center;
    font-weight: 100;
}

.research-invest-section-content h4 {
    font-family: Playfair Display;
    font-weight: 600;
}

.research-invest-section-content p {
    color: rgb(126, 126, 126);
    margin: 20px 0px;
}

.research-invest-btn-section {
    margin-top: 35px;
}

.research-btn {
    padding: 16px 36px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}

.Curator-card-section {
    box-shadow: 0 8px 10px #e8e8e8;
    background: #fff;
    border-radius: 8px;
    padding: 25px 60px;
    margin-top: 15px;
    background-image: url("../assets/testimonial-brcard.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
}
.intro-section-content-text h4{
    font-size: 42px;
    font-weight: bold;
    color: #1553A5;
}

.curators-profile-title h6 {
    font-family: Playfair Display;
    font-weight: 600;
    color: #1553A5;
    margin-bottom: 5px;
}

.curators-profile-title {
    padding: 10px 10px;
    border: 1px solid #1553A5;
    border-radius: 8px;
}

.curators-profile-title img {
    max-height: 14px;
    margin-left: 7px;
    position: relative;
    top: 2px;
}

.SEBI-style {
    font-size: 14px;
    background: #FFC20E;
    padding: 2px 4px;
    margin-top: 5px;
}

.curator-description {
    padding-left: 12px;
}

.curator-description-li {
    list-style-type: none;
    position: relative;
    font-size: 16px;
}

.page-footer-section {
    background: #FFC20E;
    color: #000;
    margin-top: 100px;
    padding-top: 25px;
}

.footer-titles {
    font-family: Playfair Display;
    font-weight: 600;
    color: #1D294A;
}

.footer-titles::after {
    content: "";
    display: block;
    width: 25%;
    padding-top: 10px;
    border-bottom: 2px solid #000;
}

.page-footer-section li a {
    font-size: 14px;
    color: #2b2b2b;
}

.footer-download-sections {
    margin-top: 25px;
}

form.example input[type=text] {
    border: 1px solid grey;
    float: left;
    width: 45%;
    background: transparent;
    padding: 0px 6px;
    border-radius: 2px;
    margin-right: 10px;
    color: #1D294A;
}

form.example button {
    float: left;
    padding: 14px;
    background: rgb(255, 255, 255);
    color: rgb(80, 80, 80);
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    font-family: Playfair Display;
}

form.example button:hover {
    background: rgb(243, 243, 243);
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

::placeholder {
    /* Firefox, Chrome, Opera */
    color: rgb(94, 94, 94);
}


.box-content-section{
    min-height: 90vh !important;
    display: flex;
}
.box-content-inner-section{
    display: grid;
}



@media only screen and (max-width: 600px) {
    .jars-btns li {
        padding: 10px 20px;
    }
}

.homepage-body-bg{
    background-image: url("../assets/bg_block_vector.svg");
}

.homepage-below-feature-section-list {
    position: relative;
    top: -55px;    
}

.features-icons-images img {
    max-height: 150px;
}

.Jar-graph-img img{
    width: 100%;
}

.mobile-show-img{
    display: none;
}
.mobile-title-text{
    display: none;
    font-weight: bold;
    font-family: Playfair Display;
}
.mobile-content-text{
    display: none !important;
}
/* @media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
} */

@media only screen and (max-width: 1000px) {
    .jama-right-tabs {
        padding: 18px 4px;
    }
    .home-tabed-section{
     padding: 50px 0px;
    }
    .btn-download-ebook{
        float: left;
    }
    .start-btn {
        margin-left: 35px;       
    }
    .Jama-tab-card-btn h6{
        display: none;
    }
    .Jama-tab-card-btn{
        padding: 12px;
        min-height: 65px;
        text-align: center;
    }
    .mobile-show-img{
        display: block;
    }
    .Jama-tab-card-btn img{
        top: 1px;
        float: none;
        margin: auto;
    }
    .mobile-title-text{
        display: block;   
    }
    .Jama-home-tab-content-box{
        padding: 8px 6px;
        min-height: 0px;
    }
    .Jama-home-tab-content-box p{
        display: none;
    }
    .mobile-content-text{
        display: block !important;
    }    
}





