.Tabs {
    position: relative;    
    margin-bottom: 40px;
    text-align: center;
  }
  
  .Tabs__Tab {
    display: inline-block;
    padding: 1em;
    background: transparent;
    color: rgb(37, 37, 37);
    border: 1px solid #1553A5;
    cursor: pointer;
    border-radius: 4px;
    margin: 0px 10px;
    font-family: Playfair Display;
    font-size: 18px;
    min-width: 190px;
    text-align: center;
    font-weight: bold;
  }
  
  .Tabs__Tab:hover, .Tabs__Tab--active {
    background: #1553A5;
    color: white;
  }
  
  /* .Tabs__Underline {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-bottom: 3px solid orange;
  } */
  .tab-content-value-list{    
    text-align: center;
    padding: 25px 0px;
  }
  .tab-content-value-list h5{
    font-weight: bold;
    font-family: Playfair Display;  
  }

  .tab-content-value-list p{
    color: #818181;
  }

  @media only screen and (max-width: 600px) {
    .Tabs__Tab{
      font-size: 14px;
      min-width: 158px;
    }
}